RewriteEngine On
# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)$ $1.html [L]

# Redirect index.html to /
RewriteCond %{THE_REQUEST} /index\.html
RewriteRule ^index\.html$ / [R=301,L]

# Redirect testimonials.html to /
RewriteCond %{THE_REQUEST} /testimonials\.html
RewriteRule ^index\.html$ / [R=301,L]

# Redirect about.html to /
RewriteCond %{THE_REQUEST} /about\.html
RewriteRule ^index\.html$ / [R=301,L]
