RewriteEngine On

# Remove .html extension for all pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)$ $1.html [L]

# Redirect index.html to /
RewriteCond %{THE_REQUEST} /index\.html
RewriteRule ^index\.html$ / [R=301,L]

# Redirect testimonials.html to /testimonials
RewriteCond %{THE_REQUEST} /testimonials\.html
RewriteRule ^testimonials\.html$ /testimonials [R=301,L]

# Redirect about.html to /about
RewriteCond %{THE_REQUEST} /about\.html
RewriteRule ^about\.html$ /about [R=301,L]
