
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.index-Hbp {
  flex-direction: column;
  background-color: #d7d3ad;
  box-sizing: border-box;
  padding: 2.5rem 3.1rem 78.5rem 3.2rem;
  width: 100%;
  align-items: center;
  display: flex;

  .auto-group-amiz-2hp {
    height: 15.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 77.7rem;
    width: 100%;

    .auto-group-gbce-eci {
      height: 100%;
      display: flex;
      column-gap: 6.6rem;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.9rem 9.6rem 5.4rem 0rem;

      .search-homes-8nn {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #1e1e1e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .buying-QkJ {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #1e1e1e;
      }
      .selling-KsG {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #1e1e1e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .logo-large-1-FW2 {
      margin-right: 10.8757rem;
      width: 12.1243rem;
      height: 15.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .about-vcA {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      margin: 2.5rem 4rem 0rem 0rem;
      text-align: center;
      color: #1e1e1e;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .contact-bCW {
      color: #1e1e1e;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      margin: 2.5rem 3.9rem 0rem 0rem;
      font-size: 2rem;
    }
    .client-testimony-Vog {
      flex-shrink: 0;
      margin-top: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #1e1e1e;
      text-align: center;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .transformative-service-care-1n2 {
    text-align: center;
    font-weight: 400;
    color: #1e1e1e;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0.1rem 3.7rem 0rem;
    font-size: 3.2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-7x9c-hPx {
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 9.2rem 0rem 10rem;
    width: calc(100% - 19.2rem);
    display: flex;
    column-gap: 12.6rem;

    .auto-group-hp8i-CrW {
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      background-color: #d9d9d9;
      width: 23.2rem;
      text-align: center;
      line-height: 1.2125;
      height: 9.4rem;
      font-size: 2rem;
      align-items: center;
      color: #1e1e1e;
      white-space: nowrap;
      display: flex;
      font-weight: 400;
      flex-shrink: 0;
    }
    .auto-group-naca-Qxa {
      justify-content: center;
      width: 30rem;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.2125;
      color: #1e1e1e;
      white-space: nowrap;
      background-color: #d9d9d9;
      height: 9.4rem;
      font-size: 2rem;
      font-weight: 400;
      display: flex;
    }
    .auto-group-2vbk-gv6 {
      font-weight: 400;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      font-size: 2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      text-align: center;
      color: #1e1e1e;
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 24.1rem;
      height: 9.4rem;
    }
  }
}
