
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.home-page-1-7LW {
  width: 100%;
  height: 63.9rem;
  object-fit: cover;
  vertical-align: top;
}
