
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.index-Hbp {
  box-sizing: border-box;
  padding: 2.5rem 3.1rem 78.5rem 3.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d7d3ad;
}
.index-Hbp .auto-group-amiz-2hp {
  margin-bottom: 77.7rem;
  width: 100%;
  height: 15.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .auto-group-gbce-eci {
  box-sizing: border-box;
  padding: 7.9rem 9.6rem 5.4rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 6.6rem;
  align-items: center;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .auto-group-gbce-eci .search-homes-8nn {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .auto-group-gbce-eci .buying-QkJ {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .auto-group-gbce-eci .selling-KsG {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .logo-large-1-FW2 {
  margin-right: 10.8757rem;
  width: 12.1243rem;
  height: 15.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .about-vcA {
  margin: 2.5rem 4rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .contact-bCW {
  margin: 2.5rem 3.9rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Hbp .auto-group-amiz-2hp .client-testimony-Vog {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Hbp .transformative-service-care-1n2 {
  margin: 0rem 0.1rem 3.7rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.index-Hbp .auto-group-7x9c-hPx {
  margin: 0rem 9.2rem 0rem 10rem;
  width: calc(100% - 19.2rem);
  display: flex;
  column-gap: 12.6rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.index-Hbp .auto-group-7x9c-hPx .auto-group-hp8i-CrW {
  width: 23.2rem;
  height: 9.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.index-Hbp .auto-group-7x9c-hPx .auto-group-naca-Qxa {
  width: 30rem;
  height: 9.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.index-Hbp .auto-group-7x9c-hPx .auto-group-2vbk-gv6 {
  margin-bottom: 0.5rem;
  width: 24.1rem;
  height: 9.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
